*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.inicioModel {
    padding: 100px;
}

.tituloPrincipal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 3%;
}

.inicioParr {
    text-align: justify;
    display: inline-block;
    font-size: 150%;
}

.textoFooter {
    border-style: solid;
    text-align: center;
    color: gray;
    font-size: 10px;
    border-width: 1px;
    border-color: black;
    border-bottom: white;
    border-left: white;
    border-right: white;
}

.tituloMenu {
    text-align: center;
}

.imagenBar {
    max-width: 100%;
}

.navegacion {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

.contededorParr {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 400px;
}


@media (max-width: 600px) {
    .imagenBar {
        width: 100%;
    }
    .tituloPrincipal {
        font-size: 40px;
    }
}

@media screen and (min-width: 168px) {

  }